.contact-form {
    @mixin atMedium {
        padding: 0 10px;
    }

    &__input-wrapper {
        width: 100%;
        padding: 10px 0;
    }

    &__mr {
        margin-right: 5px;

        @mixin atMedium {
            margin-right: 0;
        }
    }

    &__ml {
        margin-left: 5px;

        @mixin atMedium {
            margin-left: 0;
        }
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 2px;
        margin-bottom: 10px;

        @mixin atMedium {
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }

    &__input {
        font-size: 1.1rem;
        padding: 0.5rem;
        border: 1px solid $mainGray;
        width: 100%;

        @mixin atMedium {
            font-size: 1rem;
        }

        @mixin atSmall {
            font-size: 0.9rem;
        }

    }
}