.flex {
    display: flex;

    &__column {
        height: inherit;
        flex-direction: column;
        padding-top: 50px;

        @mixin atMedium {
            padding-top: 0;
        }
    }

    &__column-center {
        height: inherit;
        flex-direction: column;
        justify-content: center;
    }

    &__space-around {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__space-between {
        justify-content: space-between;
    }

    &--col-6 {
        width: 45% !important;

        @mixin atMedium {
            width: 90% !important;
        }
    }

    &--column-at-medium {
        @mixin atMedium {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &--column-at-medium-reverse {
        @mixin atMedium {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
}