.flex {
    display: flex;

    &__column-center {
        height: inherit;
        flex-direction: column;
        justify-content: center;
    }

    &__space-around {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__space-between {
        justify-content: space-between;
    }

    &--col-6 {
        width: 45% !important;
    }
}