.large-hero {
    height: 100vh;
    background: url('assets/images/large-hero.jpg') top center no-repeat;
    background-size: cover;

    @mixin atSmall {
        height: 70vh;
        background: url('assets/images/large-hero-mobile.jpg') top center no-repeat;
        background-size: cover;
    }

    &__logo-wrapper {

        img {
            height: 100px;

            @mixin atLarge {
                height: 91px;
            }

            @mixin atSmall {
                height: 50px;
            }
        }
    }

    &__text {
        margin-top: 40px;
        color: #fff;
        font-weight: 100;
        font-size: 1.4rem;

        @mixin atLarge {
            font-size: 1.2rem;
        }

        @mixin atSmall {
            font-size: 0.8rem;
        }
    }
    
}

