.menu-icon {
    position: fixed;
    top: 15px;
    right: 20px;
    height: 34px;
    width: 40px;
    display: none;

    @mixin atMedium {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__hamburger-top {
        background-color: #fff;
        height: 4px;
        width: 100%;
        transition: all 0.3s ease-out;
        transform-origin: 0 0;
    }

    &__hamburger-middle {
        background-color: #fff;
        height: 4px;
        width: 100%;
        transition: all 0.3s ease-out;
        transform-origin: 0 50%;
    }

    &__hamburger-bottom {
        background-color: #fff;
        height: 4px;
        width: 100%;
        transition: all 0.3s ease-out;
        transform-origin: 0 100%;
    }

    &--close-top {
        transform: rotate(45deg) scaleX(1.1);
    }

    &--close-middle {
        opacity: 0;
        transform: scaleX(0);
    }

    &--close-bottom {
        transform: rotate(-45deg) scaleX(1.1)translate(1px);
    }



}