.menu-icon {
    position: fixed;
    top: 15px;
    right: 20px;
    display: none;

    @mixin atMedium {
        display: block;
    }

    &__hamburger {
        @mixin atMedium {
            height: 45px;
            width: 45px;
            background-color: #fff;
            
        }
    }
}