.parallax {
    
    &__image-one {
        background: url('assets/images/parallax-one.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 50vh;

        @mixin atSmall {
            height: 30vh;
            background: url('assets/images/parallax-one-mobile.jpg') no-repeat center;
            background-size: cover;
            background-attachment: fixed;
        }
    }

    &__image-two {
        background: url('assets/images/parallax-two.jpg') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 50vh;

        @mixin atSmall {
            height: 30vh;
            background: url('assets/images/parallax-two-mobile.jpg') no-repeat center;
            background-size: cover;
            background-attachment: fixed;
        }
    }

}