.section-container {
    padding-top: 50px;

    @mixin atMedium {
        padding-top: 30px;
    }

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        @mixin atMedium {
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: 200;
        font-size: 2.5rem;
        margin-top: 20px;

        @mixin atMedium {
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    &__hr {
        height: 2px;
        background-color: $lightGray;
        width: 100px;
        margin-bottom: 40px;

        @mixin atMedium {
            margin-bottom: 15px;
        }
    }

    &__mb {
        margin-bottom: 70px;

        @mixin atSmall {
            margin-bottom: 0;
        }
    }

}